<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>学生端-活动首页</title>

<script xml:space="preserve" src="/widget/service-domain/serviceDomainScript?DB_STRATEGY=RANDOM&amp;v=1782486000001"></script>
<link rel="stylesheet" type="text/css" href="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/css/global.css?v=1782486000001" />
<link rel="stylesheet" type="text/css" href="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/css/style.css?v=1782486000001" />
<link rel="stylesheet" type="text/css" href="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/css/qd_pop.css?v=1782486000001" />
<script type="text/javascript" xml:space="preserve" src="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/js/jquery.min.js?v=1782486000001"></script>
<script type="text/javascript" xml:space="preserve" src="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/js/publish.js?v=1782486000001"></script>
<script type="text/javascript" xml:space="preserve" src="https://mobilelearn-static.chaoxing.com/mobilelearn/js/widget/selectperson/pc/util2.js?v=1782486000001"></script>
<script type="text/javascript" xml:space="preserve" src="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/js/cookie.js?v=1782486000001"></script>
<script type="text/javascript" xml:space="preserve" src="https://mobilelearn-static.chaoxing.com/mobilelearn/newpc/js/myalert.js?v=1782486000001"></script>

</head>

<body style="background:#f9f9f9">
<div id="header">
	<script id="pcPassPort" type="text/javascript" charset="utf-8" xml:space="preserve" src="https://www.fanya.chaoxing.com/passport/allHead.shtml"></script>

	
</div>
<input type="hidden" id="puid" value="208223265" />
<input type="hidden" id="courseId" value="264996768" />
<input type="hidden" id="classId" value="149661212" />
<input type="hidden" id="fid" value="330863" />
<input type="hidden" id="activeId" value="0" />
<input type="hidden" id="appType" value="0" />



<div class="wid1100">

	<div class="sudentTit">
	<i class="greenBg"></i><a shape="rect" id="1">进行中(3)</a>
	</div>
	<div class="Maincon2">
		<div id="startList">

			<div>
				<div class="Mct" onclick="activeDetail(1000163976344,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd qdhover"></dt>
							<dd class="green">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">二维码签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_Orang"></span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>

			<div>
				<div class="Mct" onclick="activeDetail(1000163976153,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd qdhover"></dt>
							<dd class="green">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">二维码签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_Orang"></span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>

			<div>
				<div class="Mct" onclick="activeDetail(1000163976148,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd qdhover"></dt>
							<dd class="green">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">普通签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_Orang"></span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>
		</div>

	</div>

	<div class="sudentTit i_gray"><i></i><a shape="rect" id="2">已结束(4)</a></div>
	<div class="Maincon2">
	<div id="endList">
			<div>
				<div class="Mct" onclick="activeDetail(1000163973821,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd_over"></dt>
							<dd class="hovergray">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">普通签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_gray">结束时间：06-26 20:50</span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>
			<div>
				<div class="Mct" onclick="activeDetail(1000163853151,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd_over"></dt>
							<dd class="hovergray">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">二维码签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_gray">结束时间：06-25 15:07</span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>
			<div>
				<div class="Mct" onclick="activeDetail(1000163827238,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd_over"></dt>
							<dd class="hovergray">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">二维码签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_gray">结束时间：06-25 11:14</span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>
			<div>
				<div class="Mct" onclick="activeDetail(1000163827205,2,null)">
					<dl class="dl_icon wid85 fl">
						<a href="javascript:;" shape="rect">
							<dt class="qd_over"></dt>
							<dd class="hovergray">签到</dd>
						</a>
					</dl>
					<div class="Mct_center wid660 fl">
						<a href="javascript:;" shape="rect">普通签到</a>
						<!--<span th:if="${active.userStatus}==0" th:text="未签"></span>
						<span th:if="${active.userStatus}==1" th:text="已签"></span>
						<span th:if="${active.userStatus}==2" th:text="代签"></span>
						<span th:if="${active.userStatus}==4" th:text="请假"></span>
						<span th:if="${active.userStatus}==5" th:text="缺勤"></span>
						<span th:if="${active.userStatus}==7" th:text="病假"></span>
						<span th:if="${active.userStatus}==8" th:text="事假"></span>
						<span th:if="${active.userStatus}==9" th:text="迟到"></span>
						<span th:if="${active.userStatus}==10" th:text="早退"></span>
						<span th:if="${active.userStatus}==11" th:text="签到已过期"></span>-->
					</div>
					<p class="fr pzt"><span class="Color_gray">结束时间：06-25 10:44</span></p>
				</div>
				
				
				
				
				
				
				
				
				
				
				

			</div>

	</div>


	</div>
</div>


<script type="text/javascript" xml:space="preserve">
/*<![CDATA[*/
var courseId = $("#courseId").val();
var classId = $("#classId").val();
var fid = $("#fid").val();
var puid = $("#puid").val();
var activeId = $("#activeId").val();
var appType = $("#appType").val();
$(function(){
	//loadMore();
	$(".Mct").hover(function(){
		$(this).find(".operation").show();
		},function(){
		$(this).find(".operation").hide();
			})
})


function tpMode(){
	window.location.href=''+ "/widget/pcpick/stu/index?courseId="+courseId+"&jclassId="+classId+"&fid="+fid+"&screenMode=1"+"&activeId="+activeId+"&appType="+appType+"&s="+s;

}

//为智慧教室加的点击活动查看详情.已废弃
function activeDetail4ZHJS(activeId,appType,disurl){
	var courseId = $("#courseId").val();
	var classId = $("#classId").val();
	var url="";
	var ctype = null;
	if (!!ctype && ctype == 1) {
		if(appType==5){//讨论
			url=disurl;//+"?classId="+classId+"&courseId="+courseId+"&enc=1";
		}else if(appType==43){//投票
			url=''+"/widget/padquickvote/goSubmitVote?activeId="+activeId;
		}
		//window.open(url);
		location.href=url;
	} else {
		activeDetail(activeId, appType, null);
	}
}
function group() {
	cef.openGroup();
}
/*]]>*/
</script>
</body>
</html>
